
{% extends 'base_site_tenant.html' %}
{% load static %}


{% block title %}
Admin Page
{% endblock  %}

{% block content %}

<section class="relative bg-cover bg-center bg-no-repeat">
  <div class="flex items-center justify-center h-screen">
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
        <strong class="block font-extrabold text-indigo-600">
          Welcome to ADMIN Page
        </strong>
      </h1>
    </div>
  </div>
</section>



  
{% endblock  %}