{% extends 'base_site.html' %}
{% load static %}
{% block title %}Rent Request Failed{% endblock  %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <div class="text-center flex flex-col items-center">
          <img src="{% static 'images/cancel.png' %}" alt="Logo" class="h-8 w-auto mx-auto">
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Rent Request Failed
          </h2>
          <p class="mt-2 text-center text-sm text-gray-600">
            Already have a rent request pending!
          </p>
        </div>
        <div class="mt-8 text-center">
          <a href="/" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Back to Home
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

