{% extends 'base_site.html' %}
{% load static %}


{% block title %}
Form
{% endblock  %}

{% block content %}

<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  
        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
          <form action="" class="space-y-4" method ="POST">
            {% csrf_token %}
            <p class="text-center text-lg font-medium">
            
              <strong class="block font-extrabold text-indigo-600">
                  File a complaint
              </strong>
          </p>
            

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div>
                    <label class="sr-only" for="name">Name</label>
                    {{form.name}}
                    {% if form.name.errors %}
                      <ul class="errorlist">
                          {% for error in form.name.errors %}
                              <li class="text-red-500 text-sm mt-1">{{ error }}</li>
                          {% endfor %}
                      </ul>
                    {% endif %}
                    {% comment %} <input
                      class="w-full rounded-lg border-gray-200 p-3 text-sm"
                      placeholder="Name"
                      type="text"
                      id="name"
                    /> {% endcomment %}
                </div>

                <div>
                  <label class="sr-only" for="email">Email</label>
                  {{form.email}}
                    {% if form.email.errors %}
                      <ul class="errorlist">
                          {% for error in form.email.errors %}
                              <li class="text-red-500 text-sm mt-1">{{ error }}</li>
                          {% endfor %}
                      </ul>
                    {% endif %}
                  {% comment %} <input
                    class="w-full rounded-lg border-gray-200 p-3 text-sm"
                    placeholder="Email address"
                    type="email"
                    id="email"
                  /> {% endcomment %}
                </div>
              </div>
  
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="phone">Phone</label>
                {{form.phone_number}}
                {% if form.phone_number.errors %}
                  <ul class="errorlist">
                      {% for error in form.phone_number.errors %}
                        <li class="text-red-500 text-sm mt-1">{{ error }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
                {% comment %} <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Phone Number"
                  type="tel"
                  id="phone"
                /> {% endcomment %}
              </div>
              <div>
                <label class="sr-only" for="apartment">Apartment</label>
                {{form.apartment_id}}
                {% if form.apartment_id.errors %}
                  <ul class="errorlist">
                      {% for error in form.apartment_id.errors %}
                        <li class="text-red-500 text-sm mt-1">{{ error }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
                {% comment %} <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Apartment"
                  type="text"
                  id="apartment"
                /> {% endcomment %}
            </div>
            </div>
  
            {% comment %} <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
              <div>
                <input
                  class="peer sr-only"
                  id="option1"
                  type="radio"
                  tabindex="-1"
                  name="option"
                />
  
                <label
                  for="option1"
                  class="block w-full rounded-lg border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-indigo-600 peer-checked:text-white"
                  tabindex="0"
                >
                  <span class="text-sm font-medium"> Technical </span>
                </label>
              </div>
  
              <div>
                <input
                  class="peer sr-only"
                  id="option2"
                  type="radio"
                  tabindex="-1"
                  name="option"
                />
  
                <label
                  for="option2"
                  class="block w-full rounded-lg border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-indigo-600 peer-checked:text-white"
                  tabindex="0"
                >
                  <span class="text-sm font-medium"> Plumbing </span>
                </label>
              </div>
  
              <div>
                <input
                  class="peer sr-only"
                  id="option3"
                  type="radio"
                  tabindex="-1"
                  name="option"
                />
  
                <label
                  for="option3"
                  class="block w-full rounded-lg border border-gray-200 p-3 hover:border-black peer-checked:border-black peer-checked:bg-indigo-600 peer-checked:text-white"
                  tabindex="0"
                >
                  <span class="text-sm font-medium"> Others </span>
                </label>
              </div>
            </div> {% endcomment %}

            
            <div>
              <label class="sr-only" for="message">Message</label>
              {{form.message}}
              {% if form.message.errors %}
                      <ul class="errorlist">
                          {% for error in form.message.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
              {% endif %}
  
              {% comment %} <textarea
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Message"
                rows="8"
                id="message"
              ></textarea> {% endcomment %}
            </div>
  
            <div class="mt-8 flex flex-wrap gap-4 justify-center">
                <a href="/">
                  <button type="Submit" class="text-white bg-gradient-to-r from-indigo-600 via-blue-600 to-indigo-800 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
                    Submit
                  </button>
                  
                </a>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}